.liItem {
    border: 1px solid #000;
    border-radius: 20px;
    padding: 10px;
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.deleteButton {
    padding: 5px 10px;
    background-color: grey;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.deleteButton:hover {
    background-color: 007bff;
}
