form {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    width: 300px;
}

label {
    margin-bottom: 5px;
}

input {
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.error {
    color: red;
    font-size: 0.8em;
    margin-bottom: 10px;
}

/* .errorInput {
    border-color: red;
} */
